# NOTEBOOK 8 Loops
---

## FOR loops

The `for`-loop is a structure in Python that allows you to execute a block of code a defined number of times (e.g. throwing a dice three times) or for items in a sequence (e.g. printing all items in a list). For example:

In [ ]:
# example
names = ['Arthur', 'Ford', 'Zaphod']

# the for loop 
for name in names:
    print(name)
    print('-' * 10)
    
# after the loop code continues here    
print('The end')

In the example we first create a list containing three names. Then, we create a `for`-loop where we used our list as a so-called iterable (an iterable is any object that can be iterated over in a for-loop). For every iteration of the `for`-loop, the variable `name` (you can use any valid variable name here if you like) changes to the next element in the list. The block of code that is executed for each iteration are all lines of code that are *indented* (in this example only a single line: `print(name)`). After the indented block of code is executed for each item in the sequence the for-loop is ready and python continues executing lines of code at the next unindented line (if any). 

Indentation is usually automatically done by the editor if you hit enter after the semicolon in the first line (`for name in names:`) of the for loop . In Python indentation is equal to either 4 spaces or a single Tab.

You can iterate over any *sequence* type. Here is another example using a string. Go over this example carefully to make sure you understand what is happening

In [2]:
import numpy as np

message = 'happycoding'

newmessage = ''

for character in message:
    newmessage = newmessage + character
    newmessage = newmessage + '_'
    
print(newmessage)

h_a_p_p_y_c_o_d_i_n_g_

---
**Assignment 8.1**

We have a list with integers: `x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`. 
Use a for-loop that iterates over the list and computes the cumalative sums. The Code should print the result. The output should look like this: 
```
1
3
6
10
15
21
28
36
45
55
```

In [24]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# =============== YOUR CODE GOES HERE =================
sum = 0

for i in x:
    sum = sum + i
    print (sum)

1
3
6
10
15
21
28
36
45
55

## The `range` function

In the previous exercise you iterated over tthe integeres from 1 to 10. This was done by creating a list that contains all these integers. This is not very convenient because each time you need a for-loop over integers you first need to create ae.g. a list with all those integers. Therefore Python has a buil-in function to do this: `range()`. The basic synatx is: 
- `range(stop)` : gives the integers 0, 1, 2, ..., stop-1
- `range(start, stop)` : gives the integers start, start + 1, start + 2, ..., stop-1
- `range(start, stop, step)` : gives the integers start, start + step, start + 2*step, ..., stop-1

Note that (as is often the case in python) the stop value is not included

In [37]:
# example printing even numbers upto 24
for i in range(2, 25, 2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

---
**Assignment 8.2**

Write a Python program that calculates the factorial of a given positive integer. The factorial of a non-negative integer $n$, denoted as $n!$, is the product of all positive integers less than or equal to $n$. For example, 5! is equal to $5 \times 4 \times 3 \times 2 \times 1=120$.

Your program should do the following:

- Prompt the user to enter a positive integer.
- Use a for loop to calculate the factorial of the entered integer.
- Print the factorial of the entered integer.

Here's a sample output of how your program should work:

```
Enter a positive integer: 5
The factorial of 5 is 120

In [44]:

# read input from user
userinput = input('Enter a positive integer: ')
n = int(userinput)  # convert string type to integer

# =============== YOUR CODE GOES HERE =================

for i in range(1, n):
    n = n*i

print(n)

120

## The `enumerate` and `zip` function

The `enumerate()` and `zip()` functions can be very useful in for-loops. 

- `enumerate()` is used whenever you need a counter in your loop
- `zip()` is used whenever you need to iterate over two (or more) sequences simultaneously.

The example below shows how to use these functions in a for-loop.

In [94]:
# example of using enumerate()

fruits = ['apple', 'banana', 'cherry']

for index, fruit in enumerate(fruits):
    print('Index=', index, ' : ', fruit)

Index= 0  :  apple
Index= 1  :  banana
Index= 2  :  cherry

In [46]:
# example of using zip()
names = ['Alice', 'Bob', 'Carol']
scores = [85, 92, 78]

for name, score in zip(names, scores):
    print(name, score)

Alice 85
Bob 92
Carol 78

---
**Assignment 8.3**

Given are three lists:
- `names` : the names of the planets in our solarsystem
- `diameters` :  the diameters of the planets (relative to the earth)
- `masses` : the masses of the planets (relative to the earth)

Write a script that prints the name of the planets and it's density (relative to the earth).

The output should look like this:
```
mercury 1.0679598568841235
Venus 0.947733826202973
Earth 1.0
Mars 0.730563193556847
Jupiter 0.22568062734882377
Saturn 0.11279682787752919
Uranus 0.22599892805136587
Neptune 0.29292871923119557
```

In [3]:
# data for the planets
names = ['mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
diameters = [0.383, 0.949, 1.000, 0.532, 11.209, 9.449, 4.007, 3.883]  # relative to earth
masses = [0.06, 0.81, 1.00, 0.11, 317.83, 95.16, 14.54, 17.15]  # relative to earth

# =============== YOUR CODE GOES HERE =================
import numpy as np
volume = [i**3 for i in diameters]
density = [(a / b) for a, b in zip(masses, volume)] 

for name, density in zip(names,density):
    print(name,density)


# for name, diameter, mass in zip(names, diameters, masses):
#     densit = mass / (diameter**3)
#     print(name, densit)

mercury 1.0679598568841235
Venus 0.947733826202973
Earth 1.0
Mars 0.730563193556847
Jupiter 0.22568062734882377
Saturn 0.11279682787752919
Uranus 0.22599892805136587
Neptune 0.29292871923119557